body {
    background-color: rgb(48, 48, 48);
    color: white
}

h2 {
    color: white;
    text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

a {
    color: lightblue;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

hr {
  width: 100%;
}