body {
    background-color: darkgray;
}

.grid-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-auto-rows: 300px;
}

.grid-element {
    background: black;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

h2 {
    color: white;
}

a {
    color: lightblue;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 25px;
    line-height: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #990000;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }